{% macro show_links() %}

<ul class="nav justify-content-center bg-dark p-3">
    <li class="nav-item">
      <a class="nav-link active text-light" aria-current="page" href="{{url_for('index')}}">Quiz App Flask</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{{url_for('login')}}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{{url_for('register')}}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{{url_for('logout')}}">Logout</a>
    </li>
  </ul>

  {% endmacro%}
